.card {
  background-color: #303030;
  border-radius: 1px;
  box-shadow: rgba(149, 157, 165, 0 0.2) 0 px4 px24 px;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 700px;
  min-width: auto;
}

.todo-item-conteiner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
}

.check-todo {
  margin-right: 2rem;
}

.todo-title {
  display: flex;
  justify-content: center;
  margin-left: 0.75em;
  font-weight: bold;
  font-size: 20px;
  margin-right: 2rem;
  flex-grow: 1;
  flex-wrap: wrap;
}

.todo-title-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.edit-input {
  flex-grow: 1;
  height: 30px;
  padding: 0.25em;
  font-size: 1rem;
}
.list-todo_btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
.list-todo_btn:hover {
  border-color: #646cff;
}
.list-todo_btn:focus,
.list-todo_btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.todo-title-completed {
  text-decoration: line-through;
}

.right-side-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .card {
    width: auto; // Ajusta automáticamente el ancho.
    padding-left: 1rem; // Reduce los paddings laterales.
    padding-right: 1rem;
  }

  .todo-item-conteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .todo-title-container {
    flex-wrap: wrap;
  }
}
