.todo-title-h1{
    font-weight: 900;
    
}

.current-page-span{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.paginated-btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 3.3px;
  }
  .paginated-btn:hover {
    border-color: blue;
    
  }
  .paginated-btn:focus,
  .paginated-btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

.paginated-container{
  margin-top: 2rem;
}